*::selection {
  color: greenyellow;
}

p.about::first-letter {
  color: red;
  font-size: 2rem;
}

p.about::first-line {
  color: red;
}

/* p.about::selection {
  color: greenyellow;
} */

.liste li::marker {
  color: red;
  font-size: 1.7rem;
}

.baslik {
  text-align: center;
}

.baslik::before {
  content: '🐦‍🔥';
  margin-right: 0.5rem;
}

.baslik::after {
  content: '🐦‍🔥';
  margin-left: 0.5rem;
}

.about span::after {
  content: '#';
  color: red;
  font-size: 3rem;
}
