html,
body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  gap: 5rem;
  flex-wrap: wrap-reverse;
  height: 80vh;
  width: 100vw;
  align-content: center;
}

.container div:nth-child(1) {
  background-color: aqua;
  flex: 1 0 200px;
  margin-right: 5rem;
}
.container div:nth-child(2) {
  background-color: rgb(77, 255, 0);
  flex: 1;
}
.container div:nth-child(3) {
  background-color: rgb(255, 0, 0);
  flex: 1;
}
.container div:nth-child(4) {
  background-color: rgb(58, 77, 255);
  flex: 1;
}
.container div:nth-child(5) {
  background-color: rgb(250, 0, 208);
  flex: 0;
}
